$primary-gradient-start: #e8e8e8;
$primary-gradient-end: #ffffff;

.clima-page {
  min-height: 93vh;
}

.clima-container {
  background: linear-gradient($primary-gradient-start, $primary-gradient-end 15%);
  padding: 1em;
  padding-bottom: 5em;
}

.clima-content {
  @media (min-width: 1100px) {
    margin-top: 7em;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.tempo {
  padding: 2em;
  box-shadow: 0 1px 20px rgba(214, 214, 214, 0.8);
  border-radius: 2em;
  text-align: center;

  @media (min-width: 1100px) {
    width: 26%;
  }
}

.tempo-title {
  h1 {
    font-size: 1.8em;
    font-weight: bold;
  }
}

.tempo-select {
  padding-top: 0.5em;

  select {
    display: flex;
    width: 100%;
    text-align: center;
    padding-left: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    appearance: none;
    border: 1px solid #0f62fe;
    border-radius: 2em;
  }
}

.tempo-img {
  max-width: 80%;
}

.tempo-info {
  display: flex;
  flex-direction: column;
}

.temp-txt {
  padding: 1em;

  p {
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
  }
}

.temp-info {
  padding-top: 1em;
  display: flex;

  div:nth-child(1),
  div:nth-child(2) {
    display: flex;
    align-items: center;
    margin: 0;
  }
  div:nth-child(1) {
    justify-content: start;
  }
  div:nth-child(2) {
    justify-content: end;
  }

  p {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
  }

  img {
    max-width: 30%;
  }
}

.resultado {
  margin-top: 2em;
  padding: 2em;
  box-shadow: 0 1px 20px rgba(214, 214, 214, 0.8);
  border-radius: 2em;
  text-align: center;

  @media (min-width: 1100px) {
    width: 48em;
    height: 35em;
    margin: 0;
  }
}

.resultado-title {
  h1 {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.resultado-img {
  max-width: 50%;
}

.resultado-info {
  padding-top: 1em;
}

.resultado-txt {
  padding: 1em;

  h1 {
    font-size: 1.2em;
    font-weight: bold;
  }

  p {
    margin: 0;
    font-size: 1em;
  }
}